@model IEnumerable<Mvc_empty.Models.Movie>

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title> Movie House </title>
    </head>
    <body>
        <h1>
            @*Welcome to the Movie House*@
            @ViewBag.WelcomeMessage
        </h1>

        <table>
            <thead>
                <tr>
                    <th>
                    @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                    @Html.DisplayNameFor(model => model.Price)
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                        @*@Html.DisplayFor(modelItem => item.Price)*@
                        @item.Price.ToString("C")
                </td>
                </tr>
            }
        </tbody>
        </table>
    </body>
</html>